{% extends 'base.html.twig' %}

{% block title %}| Staff Zone{% endblock %}

{% set uniqueErrors = {} %}
{% for error in app.flashes('error') %}
    {% set uniqueErrors = uniqueErrors|merge({(error): true}) %}
{% endfor %}

{% block body %}

    <main class="container">
        <section class="p-4 text-center">

            <h2>Welcome {{ user.userIdentifier }}</h2>


            <h3><a href="{{ path('app_logout') }}" class="text-danger">Logout !</a></h3>

            {% if "ROLE_ADMIN" or "ROLE_WEBMASTER" in user.roles %}

                <h4><a href="{{ path('admin', {'username': app.user.userIdentifier}) }}" class="text-secondary"> Admin
                        Panel</a></h4>

            {% endif %}

        </section>

        <section id="display_tokens" class="p-4 text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h4 class="mb-4">Tokens</h4>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Authorizations</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for token in tokens %}
                                <tr>

                                    <td>{{ token.name }}</td>

                                    <td>
                                        <ul class="list-unstyled text-justify">
                                            {% for authorization in token.authorizations %}
                                                <li>{{ authorization }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="text-break">{{ token.value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-4 text-center">
            <div class="container">
                <div class="row justify-content-center">

                    {% if uniqueErrors is not empty %}
                        {# Affiche chaque erreur unique #}
                        {% for error, _ in uniqueErrors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col-md-6">
                        <h4 class="mb-4">Change Password</h4>
                        {{ form_start(form, {'attr': {'class': 'text-center'}}) }}

                        <!-- TODO : STYLE FORM -->
                        {{ form_widget(form) }}

                        <button type="submit" class="btn btn-primary w-100 mt-4">Register</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}
